html {
    background-color: #eee;
}

/* gh-pages */

.inner {
    width: auto;
    margin: 0 5%;
}
#main-content {
    min-width: 350px;
    float: left;
    width: auto;
}

/* index */

#next {
    font-size: 3.2em;
}
#source {
    font-size: 1.2em;
}
.typingLine {
    font-size: 1.75em;
    height: 120px;
}
#line {
    font-size: 1.75em;
    border-bottom: 1px solid #ccc;
}
.typeNext {
    font-weight: bold;
    display: inline-block;
}

